#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC        &kp Q    &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I     &kp O     &kp P     &kp DEL
                &kp LSHFT      &kp A    &kp S    &kp D    &kp F    &kp G        &kp H    &kp J    &kp K     &kp L     &kp SEMI  &mt RSHFT SQT
                &kp LCTRL      &kp Z    &kp X    &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT   &kp SLASH &mt RCTRL TILDE
                                           &kp LGUI    &lt 1 SPACE   &lt 2 TAB   &kp TAB   &mt ENTER MINUS   &mt RALT BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
                &trans   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5        &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &trans
                &trans   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5        &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &trans
                &trans   &trans   &trans   &kp LBKT &kp LPAR &kp LBRC      &kp RBRC &kp RPAR &kp RBKT &kp MINUS &kp EQUAL &trans
                                           &trans   &trans   &trans         &trans   &trans   &trans
            >;
        };

        layer_2 {
            bindings = <
                &trans   &trans        &trans        &trans        &trans        &trans        &kp AMPS &kp ASTERISK &kp UP    &trans &trans &trans
                &trans   &kp EXCL       &kp AT        &kp HASH     &kp DLLR       &kp PERCENT    &kp EQUAL &kp LEFT    &kp DOWN  &kp RIGHT &trans &trans
                &trans   &trans        &trans        &trans        &trans        &trans        &kp NON_US_BACKSLASH &trans &trans &trans &trans &trans
                                           &trans        &trans        &trans        &trans        &trans &trans
            >;
        };
    };
};
